<div style="min-height:70vh">
  <div style="min-height:72vh">
    <% if current_user.present? %>
      <h1>Online Food Delivery</h1>
      <h1> 
        <% @restaurants.each do |restaurant| %>
          <div class="card" style="width: 20rem; display:inline-block;">
            <% if restaurant.image.present? %>
              <%= link_to restaurant_foods_path(restaurant.id) do %>
                <%= image_tag url_for(restaurant.image), class: "card-img-top", style: "width: 20rem" %>
              <% end %>       
            <% end %>
            <div class="card-block">
              <h4 class="card-title"><%= link_to restaurant.name, restaurant_foods_path(restaurant.id) %><br></h4>
              <h4 class="card-title"><%= restaurant.address %><br></h4>
              <% if restaurant.user == current_user %>
                <div class="d-flex justify-content-around align-items-center">
                  <%= link_to "Edit Restaurant", edit_restaurant_path(restaurant), class:"btn btn-primary btn-sm" %>
                  <%= button_to "delete", restaurant, method: "delete", class:"btn btn-primary btn-sm" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </h1>
    <% else %>
      <h1>
        Online Food Delivery<br>
        <%= link_to "Sign up", new_user_path, class: "btn btn-success" %><br>
        <%= link_to "login", new_session_path, class: "btn btn-success" %>
      </h1>
    <%end%>
  </div>
</div>
