<nav class="navbar navbar-expand-sm navbar-bg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= render partial: "shared/sidebar" %>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if current_user.present? %>
          <% if current_user.is_admin? %>
            <li class="nav-item">
              <%= link_to "Restaurant", restaurants_path(current_user.id), class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Cart", cart_items_path(current_user.id), class: "nav-link" %>
            <span class="badge badge-info"><%= @current_cart.cart_items.count %></span>
          </li>
          <li class="nav-item">
            <%= link_to "Your Orders", orders_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Address", user_addresses_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "logout", {controller: "sessions", action: "destroy", id: "current_user.id" }, method: "delete", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_path, class: "nav-link", data: { bs_toggle: 'modal', bs_target: '#newUserModal', remote: true } %><br>
          </li>
          <li class="nav-item">
            <%= link_to "login", new_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
