<div style="min-height:72vh">
  <h1>Dishes</h1>
  <% if @restaurant.user == current_user %>
    <h1><%= link_to "Add dish", new_restaurant_food_path, class: "btn btn-success" %></h1>
  <% end %>
  <h1> 
    <% @foods.each do |food| %>
      <div class="card" style="width: 20rem; display:inline-block;">
        <img class="card-img-top" src="#" alt="Card image cap" height="200" width="200" style="border-radius:.60rem;">
        <div class="card-block">
          <% if @restaurant.user == current_user %>
            <h4 class="card-title"><%= food.name%><br></h4>
            <h4 class="card-title"><%= food.price %><br></h4>  
            <%= link_to "Edit Food", edit_restaurant_food_path(@restaurant,food), class:"btn btn-primary btn-sm" %>
            <%= button_to "delete", restaurant_food_path(@restaurant, food), method: "delete", class:"btn btn-primary btn-sm" %>
          <% else %>
            <h4 class="card-title"><%= food.name%><br></h4>
            <h4 class="card-title"><%= food.price %><br></h4>  
          <% end %>
       </div>
      </div>
    <% end %>
  </h1>
</div>
