<div style="min-height:72vh">
  <h1>Dishes</h1>
  <% if @restaurant.user == current_user %>
    <h1><%= link_to "Add dish", new_restaurant_food_path, class: "btn btn-success" %></h1>
  <% end %>
  <h1> 
    <% @foods.each do |food| %>
      <% if food.images.present? %>
        <%= image_tag url_for(food.images[0]), class: "card-img-top", style: "width: 20rem" %><br>
      <% end %>
      <div class="card" style="width: 20rem; display:inline-block;">
        <div class="card-block">
          <h4 class="card-title"><%= food.name%><br></h4>
          <h4 class="card-title"><%= food.price %><br></h4>  
          <% if @restaurant.user == current_user %>
            <div class="d-flex justify-content-around align-items-center">
              <%= link_to "Edit Food", edit_restaurant_food_path(@restaurant,food), class:"btn btn-primary btn-sm" %>
              <%= button_to "delete", restaurant_food_path(@restaurant, food), method: "delete", class:"btn btn-primary btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </h1>
</div>
