<h1>Add Dishes</h1>
<h1><%= link_to "Add dish", new_restaurant_food_path, class: "btn btn-success" %></h1>
<h1> 
  <% @foods.each do |food| %>
    <div class="card" style="width: 20rem; display:inline-block;">
      <img class="card-img-top" src="#" alt="Card image cap" height="200" width="200" style="border-radius:.60rem;">
      <div class="card-block">
        <h4 class="card-title"><%= food.name%><br></h4>
        <h4 class="card-title"><%= food.price %><br></h4>  
        <%= link_to "Edit Food", edit_restaurant_food_path(@restaurant,food), class:"btn btn-primary btn-sm" %>
        <%= button_to "delete", restaurant_food_path(@restaurant, food), method: "delete", class:"btn btn-primary btn-sm" %>
     </div>
    </div>
  <% end %>
</h1>
