<div style="min-height:72vh">
  <h1>Cart</h1>
    <div class="row">
      <% @current_cart.cart_items.each do |cart_item| %>
        <div class="col-md-4">
          <div class="card" id="cartitem<%= cart_item.id %>">
            <table class="table table-hover table-striped table-primary h5">
              <tbody>
              <tr>
                <td colspan = "2"><h1><%= cart_item.food.restaurant.name %></h1></td>
              </tr>
              <tr>
                <td>
                  Dish:-  
                </td>
                <td>
                  <%= cart_item.food.name %>
                </td>
              </tr>
              <tr>
                <td>
                  Price:-  
                </td>
                <td>
                  <%= number_to_currency(cart_item.food.price) %>
                </td>
              </tr>
              <tr>
                <td>
                  quantity:-  
                </td>
                <td>
                  <div id="quant<%= cart_item.id %>"><%= cart_item.quantity %></div>
                </td>
              </tr>
              <tr>
                <td>
                    Total Price:-  
                </td>
                <td>
                  <div id="total<%= cart_item.id %>"><%= number_to_currency(cart_item.total_price) %></div>
                </td>
              </tr>
            </table>
            <div class="d-flex justify-content-around align-items-center">
              <%= link_to("Add one", cart_item_add_path(:id => cart_item), method: :post, remote: true, class:"btn btn-sm btn-primary") %>
              <%= link_to "Reduce one", cart_item_reduce_path(:id => cart_item), method: :post, remote: true, class:"btn btn-sm btn-primary" %>
              <%= link_to("Remove item", cart_item_path(cart_item), method: :delete, remote: true, class:"btn btn-sm btn-primary") %>
            </div>     
          </div>
        </div>
      <% end %>
    </div>
    <h1>
      <% if @current_cart.cart_items.count > 0 %>
        <div class="mb-2" id='placeorder'>
          <div id="total"><%=  @current_cart.total_cart_price %></div>
          <%= form_with url: orders_path, method: :post do |form| %>
            <%= form.label :address %>
            <%= form.select :address, options_for_select(get_address)  %><br>
            <%= form.submit "Place Order", class:"btn btn-sm btn-primary" %>
          <% end %>
        </div>
      <% else %>
        Cart is Empty
      <% end %>
    </h1>
</div>
