<div style="min-height:72vh">
  <h1>Cart</h1>
    <div class="row">
      <% @current_cart.cart_items.each do |cart_item| %>
        <div class="col-md-4">
          <div class="card">
            <table class="table table-hover table-striped table-primary h5">
              <tr>
                <td colspan = "2"><h1><%= cart_item.food.restaurant.name %></h1></td>
              </tr>
              <tr>
                <td>
                  Dish:-  
                </td>
                <td>
                  <%= cart_item.food.name %>
                </td>
              </tr>
              <tr>
                <td>
                  Price:-  
                </td>
                <td>
                  <%= number_to_currency(cart_item.food.price) %>
                </td>
              </tr>
              <tr>
                <td>
                  quantity:-  
                </td>
                <td>
                  <%= cart_item.quantity %>
                </td>
              </tr>
              <tr>
                <td>
                    Total Price:-  
                </td>
                <td>
                  <%= number_to_currency(cart_item.total_price) %>
                </td>
              </tr>
            </table>
            <div class="d-flex justify-content-around align-items-center">
              <%= link_to "Add one", cart_item_add_path(:id => cart_item), method: :post, class:"btn btn-sm btn-primary" %>
              <%= link_to "Reduce one", cart_item_reduce_path(:id => cart_item), method: :post, class:"btn btn-sm btn-primary" %>
              <%= link_to "Remove item", cart_item_path(cart_item), method: :delete, class:"btn btn-sm btn-primary" %>
            </div>     
          </div>
        </div>
      <% end %>
    </div>
    <h1>
      <% if @current_cart.cart_items.present? %>
        Total amount- <%= total_cart_price( @current_cart.cart_items)  %>
        <div class="mb-2">
          <%= form_with url: orders_path, method: :post do |form| %>
            <%= form.label :address %>
            <%= form.select :address, options_for_select(get_address)  %><br>
            <%= form.submit "Place Order", class:"btn btn-sm btn-primary" %>
          <% end %>
        </div>
      <% else %>
        Cart is Empty
      <% end %>
    </h1>
</div>
