<div style="min-height:72vh">
  <div class="w-25 container">
    <%= form_with model: @restaurant, local: true  do |form| %>
      <% if @restaurant.errors.full_messages.any? %>
        <%= render 'shared/error', object: @restaurant %>
      <%end%>
      <%= form.label :restaurant_name %><br>
      <div class="mb-3">
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <%= form.label :Address %><br>
      <div class="mb-3">
        <%= form.text_field :address, class: "form-control" %>
      </div>
      <%= form.label :image %><br>
      <div class="mb-3">
        <%= form.file_field :image %>
      </div>
      <div>
      <%= form.submit @restaurant.persisted? ? 'Edit' : 'Add' %>
      </div>
    <% end %>
  </div>
</div>
