<div style="min-height:72vh">
  <h1>Add Address</h1>
  <h1><%= link_to "Add Address", new_user_address_path, class: "btn btn-success" %></h1>
  <h1> 
    <% @addresses.each do |address| %>
    <div class="card" style="width: 20rem; display:inline-block;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= address.area %></li>
        <li class="list-group-item"><%= address.city %></li>
        <li class="list-group-item"><%= address.state %></li>
        <li class="list-group-item"><%= address.pincode %></li>
      </ul>
      <%= link_to "Edit", edit_user_address_path(current_user,address), class:"btn btn-primary btn-sm" %>
      <%= button_to "Delete", user_address_path(current_user,address), method: "delete", class:"btn btn-primary btn-sm" %>   
    </div>
    <% end %>
  </h1>
</div>
