<div style="min-height:72vh">
  <h1>Add Address</h1>
  <h1><%= link_to "Add Address", new_user_address_path, class: "btn btn-success" %></h1>
  <h1> 
   <div class="row">
    <% @addresses.each do |address| %>
    <div class="col-md-4">
     <div class="card">
      <table class="table table-hover table-striped table-danger h5">
        <tr>
          <td>
          Area:-  
          </td>
          <td>
          <%= address.area %>
          </td>
        </tr>
        <tr>
          <td>
          City:-  
          </td>
          <td>
          <%= address.city %>
          </td>
        </tr>
        <tr>
          <td>
          state:-  
          </td>
          <td>
          <%= address.state %>
          </td>
        </tr>
        <tr>
          <td>
          Pincode:-  
          </td>
          <td>
          <%= address.pincode %>
          </td>
        </tr>
      </table>
      <div class="d-flex justify-content-around align-items-center">
      <%= link_to "Edit", edit_user_address_path(current_user,address), class:"btn btn-sm btn-primary" %>
      <%= button_to "Delete", user_address_path(current_user,address), method: "delete", class:"btn btn-primary btn-sm" %>   
      </div>   
    </div>
    </div>
    <% end %>
   </div>
  </h1>
</div>
